<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PetjeOp.Properties.Settings.kbs2ConnectionString"
            connectionString="Data Source=176.31.253.42,119;Initial Catalog=kbs2;User ID=jonaham;Password=12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>